* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY */
.centratura-contenuto {
  width: 70%;
  margin: 0 auto;
}

.btn {
  padding: 10px;
  background-color: rgb(57, 116, 255);
  color: white;
  font-weight: 700;
  border: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  display: flex;
  font-size: 0.8rem;
  text-decoration: none;
  color: black;

  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
}

.active {
  color: rgb(57, 116, 255);
}

.navbar h4 {
  border-bottom: 3px solid transparent;
  padding: 45px 0;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navbar h4:hover {
  color: rgb(57, 116, 255);
  border-bottom: 3px solid rgb(57, 116, 255);
  cursor: pointer;
}

/* JUMBOTRON */
#jumbotron {
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

/* MAIN */
main {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.fascia-nera {
  padding: 50px 0;
}

.btn-current-series {
  padding: 10px 20px;
  font-size: 1rem;
  position: absolute;
  top: -20px;
  left: 14%;
}

.btn-load-more {
  padding: 10px 30px;
  font-size: 0.6rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/* COMICS CARD */
.comics-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.comics-card {
  flex-basis: calc((100% - 50px) / 6);
  padding: 5px;
  font-size: 0.6rem;
  cursor: pointer;

  img {
    width: 140px;
    height: 215px;
  }
}

/* FASCIA AZZURRA */
.fascia-azzurra {
  display: flex;
  justify-content: space-around;
  background-color: rgb(57, 116, 255);
  padding: 30px 15%;
}

.fascia-azzurra a {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
} 

.fascia-azzurra-content {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    max-height: 50px;
  }
}

/* FOOTER */
footer {
  background-image: url(./assets/img/footer-bg.jpg);
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.footer-text {
  display: flex;
  gap: 10px;
}

.footer-text-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%; 
  line-height: 1.7;
}

.footer-text-col h3 {
  font-size: 0.8rem;
  padding-bottom: 6px;
}

.footer-text-col a {
  font-size: 0.6rem;
  color: rgb(145, 145, 145);
}

footer a {
  color: white;
  text-decoration: none;
} 

.CTA-social { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-gray {
  background-color: rgb(59, 59, 59);
  padding: 24px 0;
}

.CTA-social-dx {
  display: flex;
  gap: 20px;
}

.CTA-social-dx h3 {
  color: rgb(57, 116, 255);
  font-weight: 600;
}

footer button {
  border: solid 2px rgb(57, 116, 255);
  color: white;
  background-color: rgb(59, 59, 59);
  padding: 10px;
}

.footer-img {
  background-size: contain;
  overflow: hidden;

  img {
    max-width: 480px;
    position: absolute;
    right: 1%;
    top: -30%;
  }
}