* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0;
}

.navbar {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

h4 {
  padding: 50px 0;
}

.navbar h4:hover {
  border-bottom: solid 4px rgb(57, 116, 255);
}

/* MAIN */
main {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 0;
}

/* FOOTER */
footer {
  background-image: url(./assets/img/footer-bg.jpg);
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.centratura-contenuto {
  width: 70%;
  margin: 0 auto;
}

footer a {
  color: white;
  text-decoration: none;
} 

.CTA-social {
  background-color: rgb(59, 59, 59);
}