* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

h4 {
  padding: 45px 0;
}

.navbar h4 {
  border-bottom: 3px solid transparent;
}

.navbar h4:hover {
  border-bottom: 3px solid rgb(57, 116, 255);
}

/* MAIN */
main {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.fascia-nera {
  padding: 50px 0;
}

.fascia-azzurra {
  display: flex;
  justify-content: space-around;
  background-color: rgb(57, 116, 255);
  padding: 30px 15%;
}

.fascia-azzurra a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
} 

/* FOOTER */
footer {
  background-image: url(./assets/img/footer-bg.jpg);
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-text {
  display: flex;
  gap: 10px;
}

.footer-text-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%; 
  line-height: 1.7;
}

.footer-text-col h3 {
  font-size: 0.8rem;
  padding-bottom: 6px;
}

.footer-text-col a {
  font-size: 0.6rem;
  color: rgb(145, 145, 145);
}

.centratura-contenuto {
  width: 70%;
  margin: 0 auto;
}

footer a {
  color: white;
  text-decoration: none;
} 

.CTA-social { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-gray {
  background-color: rgb(59, 59, 59);
  padding: 30px 0;
}

.CTA-social-dx {
  display: flex;
  gap: 20px;
}

.CTA-social-dx h3 {
  color: rgb(57, 116, 255);
  font-weight: 600;
}

footer button {
  border: solid 2px rgb(57, 116, 255);
  color: white;
  background-color: rgb(59, 59, 59);
  padding: 10px;
}